@model WorldBuilder.Models.World

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>World</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldDesc)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldGenFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldGenFK)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldIsPublic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldIsPublic)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldUserFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldUserFK)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldCreatedAt)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldUpdatedAt)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldLikes)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pictures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pictures)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldGenFKNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldGenFKNavigation)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldUserFKNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldUserFKNavigation)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldLikUserFKs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldLikUserFKs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WorldIDPK">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
