@model WorldBuilder.Models.Tag

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagDescription)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagColor)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagWorldFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagWorldFK)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagUserFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagUserFK)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagUserFKNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagUserFKNavigation)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagWorldFKNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagWorldFKNavigation)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptTagScriptFKs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScriptTagScriptFKs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TagIDPK">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
