@model WorldBuilder.Models.SubCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubDescription)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCatFK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCatFK)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pictures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pictures)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCatFKNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCatFKNavigation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SubIDPK">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
