@model IEnumerable<WorldBuilder.Models.SubCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCatFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pictures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCatFKNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.SubName)
            </td>
            <td>
                @Html.DisplayFor(model => item.SubDescription)
            </td>
            <td>
                @Html.DisplayFor(model => item.SubCatFK)
            </td>
            <td>
                @Html.DisplayFor(model => item.Pictures)
            </td>
            <td>
                @Html.DisplayFor(model => item.SubCatFKNavigation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubIDPK">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubIDPK">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubIDPK">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
